<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>App</title>
</head>
<body>
    <header>
        <img src="/icons/points.png" alt="">
    </header>
    <section class="container-options">
        <div class="container1">
            <p class="h2">Bienvenido a el App</p>
        <div class="buton">
            <a class="btn"href="/singup">Crear una cuenta</a>
        </div>
        <div class="buton">
            <a class="btn" href="/login">Iniciar Sesion</a>
        </div>
    </div>
    </section>
</body>
</html>