<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Login</title>
</head>
<body>
    <header>
        <img src="/icons/points.png" alt="">
    </header>
    <div class="container-options">
        <div id="este" class="container1">
            <h2>Inicia Sesion con tu correo y contraseña</h2>
            <input type="text" id="correo" name="email" placeholder="Email">
            <input type="text" id="pass" name="pass" placeholder="Contraseña">
            <button id="click" class="btn btn-fun">Iniciar Sesion</button>
           
        </div>
    </div>
  
    <script src="https://www.gstatic.com/firebasejs/8.4.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.4.0/firebase-auth.js"></script>
    <script src="/index.js"></script>
</body>
</html>