<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Registro</title>
</head>
<body>
    <header>
        <img src="/icons/points.png" alt="">
    </header>
    <section>
        <form action="" class="formulario">
            <div class="item-form">
                <label for="nombre">Nombre del Negocio</label>
                <input type="text" class="input" id="nombre" >
            </div>
            <div class="item-form">
                <label for="direccion">Direccion</label>
                <input type="email" class="input" id="direccion" >
            </div>
            <div class="item-form">
                <label for="direccion">Descripcion</label>
                <textarea  class="input" id="descripcion" placeholder="Minimo 500 caracteres" rows="10" cols="50"></textarea>
            </div>
        </form>
        <button id="click">clcik</button>
    </section>
    <script>
        
        document.getElementById("click").addEventListener("click", ()=>{
            const valor = document.getElementById("descripcion").value
        if(valor == null || valor.length < 500){
            alert("Mientras mejor decribas tu restaurante, mas se animara la gente a visitarlo")
            
        }else{
            alert(valor)
            document.getElementById("nombre").style.background= "green"
        }
        })
    </script>
</body>
</html>