<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Registro</title>
</head>
<body>
    <header>
        <img src="/icons/points.png" alt="">
    </header>
    <section>
        <form action="" class="formulario">
            <div class="item-form">
                <label for="nombre">Nombre del Negocio</label>
                <input type="text" class="input" id="nombre" >
            </div>
            <div class="item-form">
                <label for="direccion">Direccion</label>
                <input type="email" class="input" id="direccion" >
            </div>
        </form>
        <button id="click">clcik</button>
    </section>
    <script>
        
        document.getElementById("click").addEventListener("click", ()=>{
            const valor = document.getElementById("nombre").value
        if(valor == null || valor.length == 0){
            alert("Error necesita agregar un nombre")
            document.getElementById("nombre").style.background = "rgba(255, 0, 0,0.6)"
            document.getElementById("nombre").style.boxShadow = "3px 3px 20px 5px #FF0D21"
            document.getElementById("nombre").style.border = "red"
            
        }else{
            alert(valor)
            document.getElementById("nombre").style.background= "green"
        }
        })
    </script>
</body>
</html>