*{
    margin: 0;
    padding: 0;
}
body{
    background-image: linear-gradient(to right, #130f40, #30336b);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
header{
    padding: 20px;
    margin: 0;
}
header img{
    width: 90px;
    height: 90px;
}
.h2{
    font-size: 1.8em;
    font-weight: bold;
}
.container1{
    color: white;
    border: 2px solid white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
}
.btn{
    color: white;
    text-decoration: none;
    border: 1px solid snow;
    padding: 10px;  
    border-radius: 9px;
    margin: 20px;
}
.buton{
    margin: 20px;
    padding: 20px;
}
.btn:hover{
    background-color: snow;
    color: #130f40;
}
.btn-fun{
    background: green;
    color: white;
    width: 80%;
}

.formulario{
    background-color: snow;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
}
.item-form{
    display: flex;
    align-items: center;
    color: black;
    margin: 10px;
}
input{
    border-radius: 20px;
    padding: 15px;
    background-color: snow;
    margin: 10px;
}
input:focus{
   border: 1px solid green;
}
.header{
    background-color: green;
    width: 100vw;
    padding: 20px;
}
@media only screen and (max-width: 700px) {
    .container1{
        width: 250px;
    }
    .btn{
        padding: 20px;
    }
    .item-form{
      flex-direction: column;
    }
    /* .buton{
        margin: 20px;
    } */
}